<html lang="en">
  <head >
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>User Home </title>

</head>

<body style="background-color:white; margin:0;padding:0;">


   
  <div class="container-fluid "  style="height:250px; background-color: black;">
    <br><br><br>
    
        <h1 class="text-center text-light" style="font-size: 70px; font-family: fantasy;">Indore Union Bank</h1>         
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark " style="background-color:black;">
        <div class="container-fluid " style="background-color:black;">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
                    <li class="nav-item">
                        <a class="nav-link active text-light text-lg-center" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/view/<%=records._id%>">View Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/deposit/<%=records._id%>">Deposite Amount</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-light" href="/withdraw/<%=records._id%>">Widrawl Amount</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-light" href="/transfer/<%=records._id%>">Transfer Amount</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-light" href="/history/<%=records._id%>">View Statements</a>
              </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/logout">Logout</a>
                    </li>
                  
                  
            </div>
        </div>
    </nav>
    <br><br>
    <marquee direction="left" >
        <div class="container bg-danger">
          <h2 class="text-light text-center"><%=records.name %>(Indore Union Bank - New Palasia)</h2>
        </div>
    </marquee>

  <br><br><br>
  <center>
    <h1> welcome <%=records.name %></h1>
    <br><br><br>
    <!--
    <a href="/view/<%=records._id%>"><h2>View Account</h2></a><br><br>
    <a href="/deposit/<%=records._id%>"><h2>Deposit Amount</h2></a><br><br>
    <a href="/withdraw/<%=records._id%>"><h2>Withdrawl Amount</h2></a><br><br>
    <a href="/transfer/<%=records._id%>"><h2>Transfer Funds</h2></a><br><br>
    <a href="/history/<%=records._id%>"><h2>View Statement</h2></a><br>
-->

  </center>
  
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>

</body>
</html>