<html lang="en">
    <head >
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">    
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <title>Manage Details </title>
    
</head>

<body style="background-color:white; margin:0;padding:0;">
 
    
    <div class="container-fluid "  style="height:250px; background-image:url(./image/globe.gif)">
        <br><br><br>
        
            <h1 class="text-center text-light" style="font-size: 70px; font-family: fantasy;">Indore Union Bank</h1>         
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark " style="background-color:black;">
            <div class="container-fluid " style="background-color:black;">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
                        <li class="nav-item">
                            <a class="nav-link active text-light text-lg-center" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/add_user">Add New User</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/user_details">Manage User</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/logout">Logout</a>
                        </li>
                      
                      
                </div>
            </div>
        </nav>
        <br><br>
        <marquee direction="left" >
            <div class="container bg-danger">
              <h2 class="text-light text-center">Manager(Indore Union Bank - New Palasia)</h2>
            </div>
        </marquee>
    
       
        
    <center>
     <h1>Account Users Details</h1>
  <table class="table align-middle table-hover " style="width: max-content;">
  <thead class="table-primary">
      <th>Account holder Name</th>>
      <th>Mobile Number</th>>
      <th>Email Address</th>
      <th>Adhar card Number</th>>
      <th>Account Number</th>
      <th>Account Type</th>
      <th>Account Balance</th>
      <th>4 Digit Pin</th>
      <th>Action</th>
  </thead>
  <% records.forEach(function(data){%>    
  <tr>
   <td><%=data.name%></td>
   <td><%=data.mobile%></td>
   <td><%=data.email%></td>
   <td><%=data.adhar%></td>
   <td><%=data.ano%></td>
   <td><%=data.type%></td>
   <td><%=data.bal%></td>
   <td><%=data.pin%></td>
   <td><a href="/delete/<%=data._id%>" > <i class="fa fa-trash    "></i></a></td>
  </tr>
  <%}) %>
  </table>
    </center>

    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>

</body>
</html>